* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --base: #1D1C21;
    --purple:#521F88;
    --blue:#2F69B2;
    /* ---f-size: 14px;
    ---f-family: "Inter", sans-serif;
    ---mobile: 375px;
    ---desktop: 1440px; */ 
}

* {
    display: flex;
    justify-content: center;
    background-color:var(--base);
    height: 100vh;
    width: 100vw;
}
